<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sscl.baselibrary">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--SD卡挂载与卸载权限-->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!--SD卡读权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--SD卡写权限-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!--读取手机状态权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--读取特殊手机状态的权限-->
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <!--访问wifi状态的权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--获取程序日志信息的权限-->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        tools:targetApi="n">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_path" />
        </provider>
    </application>

</manifest>
